/* Write your CSS here */
.main-container {
  display: flex;
}

.events-container {
  background-color: #323f4b;
  width: 60%;
  height: 100vh;
  padding: 2%;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
}

.status-container {
  list-style-type: none;
}
