/* Write your CSS here */
.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  width: 30%;
  flex-grow: 1;
  padding: 2%;
}

.yet-to-reg-img {
  height: 40%;
}

.status-head {
  font-size: 100%;
  width: 100%;
  color: #64748b;
}

.reg-button {
  background-color: #0967d2;
  border: 0px solid;
  font-size: 15px;
  padding: 8px;
  color: #f8fafc;
  border-radius: 8px;
  width: 80%;
}

.registered-img {
  height: 15%;
}

.closed-img {
  height: 40%;
}

.closed-head {
  color: #3a4b63;
  font-size: 24px;
}
